openai==1.23.1
python-dotenv==1.0.1
requests==2.31.0

annotated-types
anyio
blinker
certifi
charset-normalizer
click
colorama
distro
Flask
Flask-Cors
frozenlist
future
greenlet
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
mpmath
multidict
openai
pip
pycparser
pydantic
pydantic_core
PySocks
python-dotenv
requests
setuptools
sniffio
sympy
tqdm
typing_extensions
urllib3
Werkzeug
zope.event
zope.interface